/* container style */
#container {
    margin: 0 10% 0 10%;
    box-shadow: 0 0 10px #444;
    height: 100%;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

    /* nav style */
    nav {
        background-color: #E06;
    }

    .nav-link:hover {
        color: #FFF!important;
    }

    /* content style */
    .container {
        flex: 1;
    }
    
    h2 {
        text-align: center;
        margin: 3% 0;
    }

    h4 {
        font-weight: bold;
    }

    .carousel-indicators li {
        background-color: #AAA!important;
    }
    
    .carousel-control-prev-icon {
        background-color: #AAA!important;
    }

    .carousel-control-next-icon {
        background-color: #AAA!important;
    }

    .row {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .protagonist div {
        margin: 1% 0;
    }

    .row img {
        width: 40%;
        float: left;
        margin: 0 5%;
    }

    .type {
        font-weight: bold;
    }

    footer {
        text-align: center;
        left: 0;
        bottom: 0;
        width: 100%;
    }

/* mobile style changes */
@media screen and (max-device-width: 768px) {
    #container{
        margin: 0;
    }

    .nav-link {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .row img {
        width: 90%;
        margin: 0 5% 1% 5%;
    }

    .row .img {
        max-width: 100%!important;
        flex: 0 0 100%!important;
    }
}